- content_for :title, "About"

%h1 About

%p
  Stefan Wienert
  Dresden

%p
  E-Mail: info@stefanwienert.net
  %br
  Internet: http://stefanwienert.net/

%p
  Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Stefan Wienert

%p
  Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir, die Betreiber dieser Webseite und deren Unterseiten (Subdomains) keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

