- content_for :title, "About"

%h1 Impressum

%p
  Stefan Wienert
  Dresden

%p
  E-Mail: info@stefanwienert.net
  %br
  Internet: http://stefanwienert.net/

%p
  Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Stefan Wienert

%p
  Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir, die Betreiber dieser Webseite und deren Unterseiten (Subdomains) keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

%h2 FAQ

.panel.panel-primary
  .panel-heading
    %h3.panel-title Was ist HRfilter?
  .panel-body
    Ein Aggregator für News rund um das Thema Personal + HR. Dabei werden die News nach Aktualität und Viralität bewertet und sortiert. Außerdem wird eine Klassifizierung vorgenommen.

.panel.panel-primary
  .panel-heading
    %h3.panel-title Wie funktioniert das Ranking?
  .panel-body
    %p Regelmäßig wird überprüft, wie oft der Beitrag im Social-Media geteilt wurde. Außerdem hat jede Quelle einen Standard-Bias der auf der Anzahl der veröffentlichten News basiert (Quellen mit sehr vielen Publikationen oder sehr großer Reichweite erhalten einen Malus, vertrauenswürdige fokussierte Blogs einen Bonus)
    %pre
      Basis-Punkte = Bias + Xing * 3 + Linkedin * 2 + retweets + facebook / 2 + GooglePlus
    Dieser Wert wird dann mit der "Freshness" multipliziert, d.h. das Alter der News. Dieser geht von 1.0 (gerade publiziert) bis 0.0 (vor 14 Tagen publiziert).

.panel.panel-primary
  .panel-heading
    %h3.panel-title Eine Quelle fehlt, wie kann ich diese aufnehmen lassen?
  .panel-body
    Schreiben Sie mir eine
    = mail_to 'info@stefanwienert.de', subject: 'HRfilter: Neue Quelle' do
      eMail


.panel.panel-primary
  .panel-heading
    %h3.panel-title Wer steckt dahinter?
  .panel-body
    Dies ist ein privates Projekt von <a href='http://www.stefanwienert.de'>mir</a>. Ich habe das Projekt ins Leben gerufen, um mich, als fachfremder Softwareentwickler, effektiv und schnell über alle News aus dem Fachbereich auf dem Laufenden zu halten.
