- content_for :title, "About us"

.hero-unit
  %h1 About us
  %p
    We are awesome

%h2 German "impressum"

%p Anbieterkennzeichnung gemäß §5 Telemediengesetz (TMG)

%p
  Anbieter/Herausgeber:
  %br
  FIRMA
  %br
  ADRESSE
  %br
  Deutschland

%p
  Telefon: ...
  %br
  E-Mail: ...

%p
  Registergericht:
  %br
  Amtsgericht STADT

%p
  Registernummer:
  %br
  HRB ...
%p
  USt.-Nr.:


%p
  Vertretungsberechtigt:
  %br
  VORNAME NACHNAME
