- content_for :title, "HRfilter.de"
.page-header
  %h1
    = image_tag "hrfilter-logo.png", alt: "Logo", title: "HRfilter.de"
    %br
    %small
      Die wichtigsten aktuellen HR und Personalnachrichten aus <a href='#{sources_path}'>bekannten deutsch- und englischsprachigen Blogs und Newsquellen</a> - Gebündelt und sortiert nach Relevanz


= render @news_items

