- @container_class = ''

front-page-app(
  data-show-jobs="#{Setting.key == 'hrfilter'}"
  data-paths="#{@paths.to_json}"
  data-twitter="#{@twitter}"
  data-helden-url="#{Setting.get('helden')}"
  data-year="#{Date.today.year}"
)


