---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&screen_name=KarriereSPIEGEL&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="xxxxxxxxxxxxxxx", oauth_nonce="xxxxxxxxxxxxx",
        oauth_signature="xxxxxx", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1573228780", oauth_token="xxxxxxxxxxxxx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 08 Nov 2019 15:59:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f8dd1f267f6ee03a4873c5cbae9978fa
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '894'
      X-Rate-Limit-Reset:
      - '1573229465'
      X-Response-Time:
      - '194'
      X-Transaction:
      - 00ff3f01004ab5a2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri Nov 08 12:21:00 +0000 2019","id":1192779048281354240,"id_str":"1192779048281354240","full_text":"Mangel
        an F\u00fchrungskr\u00e4ften: Wer will schon Chef sein?... https:\/\/t.co\/Oz4TyfZIix","truncated":false,"display_text_range":[0,79],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Oz4TyfZIix","expanded_url":"http:\/\/spon.de\/afBbB","display_url":"spon.de\/afBbB","indices":[56,79]}]},"source":"\u003ca
        href=\"http:\/\/www.spiegel.de\/\" rel=\"nofollow\"\u003eRSS-Feed f\u00fcr
        @KarriereSPIEGEL\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":485808037,"id_str":"485808037","name":"KarriereSPIEGEL","screen_name":"KarriereSPIEGEL","location":"","description":"KarriereSPIEGEL
        & SPIEGEL JOB","url":"http:\/\/t.co\/dBDwFdPB6O","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/dBDwFdPB6O","expanded_url":"http:\/\/www.spiegel.de\/karriere\/","display_url":"spiegel.de\/karriere\/","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":7889,"friends_count":51,"listed_count":178,"created_at":"Tue
        Feb 07 16:08:22 +0000 2012","favourites_count":685,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":true,"statuses_count":5354,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FA743E","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/877538465042321408\/H7xVxAai_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/877538465042321408\/H7xVxAai_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/485808037\/1398695729","profile_link_color":"ABB8C2","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"can_media_tag":true,"followed_by":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"de"},{"created_at":"Fri
        Nov 08 10:00:44 +0000 2019","id":1192743747651547141,"id_str":"1192743747651547141","full_text":"Frauen
        in Dax-Vorst\u00e4nden: Top-Managerinnen verdienen deutlich mehr als m\u00e4nnliche
        Kollegen... https:\/\/t.co\/QkpAfS9Y2J","truncated":false,"display_text_range":[0,116],"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/QkpAfS9Y2J","expanded_url":"http:\/\/spon.de\/afBaY","display_url":"spon.[...]
- request:
    method: head
    uri: http://spon.de/afBbB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://spon.de/afBbB
      X-Sp-Ap:
      - '6134'
      Content-Type:
      - text/plain
      X-Sp-Pr:
      - '6134'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 15:59:40 GMT
- request:
    method: head
    uri: https://spon.de/afBbB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Sp-Te:
      - '6154'
      Location:
      - https://www.spiegel.de/artikel/a-1295517.html
      X-Sp-Ap:
      - '6133'
      Content-Type:
      - text/plain
      X-Sp-Pr:
      - '6133'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 15:59:40 GMT
- request:
    method: head
    uri: https://www.spiegel.de/artikel/a-1295517.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Sp-Te:
      - '6154'
      Location:
      - "/karriere/deutschland-immer-weniger-berufstaetige-wollen-fuehrungskraft-werden-a-1295517.html"
      X-Sp-Ap:
      - '6126'
      Content-Type:
      - text/plain
      X-Sp-Pr:
      - '6126'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 15:59:41 GMT
- request:
    method: head
    uri: https://www.spiegel.de/karriere/deutschland-immer-weniger-berufstaetige-wollen-fuehrungskraft-werden-a-1295517.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Sp-Te:
      - '6139'
      Content-Type:
      - text/html;charset=UTF-8
      X-Sp-Ap:
      - '6135'
      X-Sp-Pr:
      - '6135'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 15:59:41 GMT
- request:
    method: head
    uri: http://spon.de/afBaY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://spon.de/afBaY
      X-Sp-Ap:
      - '6132'
      Content-Type:
      - text/plain
      X-Sp-Pr:
      - '6132'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 16:00:28 GMT
- request:
    method: head
    uri: https://spon.de/afBaY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Sp-Te:
      - '6151'
      Location:
      - https://www.spiegel.de/artikel/a-1295478.html
      X-Sp-Ap:
      - '6132'
      Content-Type:
      - text/plain
      X-Sp-Pr:
      - '6132'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 16:00:28 GMT
[...]
- request:
    method: head
    uri: https://www.spiegel.de/karriere/dax-vorstaende-top-managerinnen-verdienen-mehr-als-maennliche-kollegen-a-1295478.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Sp-Te:
      - '6150'
      Content-Type:
      - text/html;charset=UTF-8
      X-Sp-Ap:
      - '6132'
      X-Sp-Pr:
      - '6132'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 16:00:28 GMT
[...]
- request:
    method: get
    uri: https://cdn1.spiegel.de/images/image-1487035-860_poster_16x9-rqph-1487035.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Link:
      - <https://www.spiegel.de/images/image-1487035-860_poster_16x9-rqph-1487035.jpg>;
        rel="canonical"
      X-Sp-Ap:
      - '6133'
      X-Sp-Pr:
      - '6133'
      X-Sp-Te:
      - '6150'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAgAAAQABAAD/7QEsUGhvdG9zaG9wIDMuMAA4QklNBAQAAAAAAQ8cAlAACXR1bGNhcmlvbhwCVQALQ29udHJpYnV0b3IcAngAKk9mZmljZSBzdGF0aW9uIHdpdGggYm9zcyBjaGFpciBhbmQgdGFibGUuIBwCdAAJdHVsY2FyaW9uHAI3AAgyMDEwMDczMRwCbgAMR2V0dHkgSW1hZ2V[...]
[...]
- request:
    method: get
    uri: https://cdn1.spiegel.de/images/image-1196586-860_poster_16x9-ytxy-1196586.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Link:
      - <https://www.spiegel.de/images/image-1196586-860_poster_16x9-ytxy-1196586.jpg>;
        rel="canonical"
      X-Sp-Ap:
      - '5001891'
      X-Sp-Pr:
      - '5001891'
      X-Sp-Te:
      [...]
- request:
    method: head
    uri: http://spon.de/afA0f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://spon.de/afA0f
      X-Sp-Ap:
      - '6133'
      Content-Type:
      - text/plain
      X-Sp-Pr:
      - '6133'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 16:06:52 GMT
- request:
    method: head
    uri: https://spon.de/afA0f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Sp-Te:
      - '6151'
      Location:
      - https://www.spiegel.de/artikel/a-1294813.html
      X-Sp-Ap:
      - '6133'
      Content-Type:
      - text/plain
      X-Sp-Pr:
      - '6133'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 16:06:52 GMT
[...]
- request:
    method: head
    uri: https://www.spiegel.de/karriere/sumatra-eine-auswanderin-berichtet-vom-leben-in-indonesien-a-1294813.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Sp-Te:
      - '6149'
      Content-Type:
      - text/html;charset=UTF-8
      X-Sp-Ap:
      - '6135'
      X-Sp-Pr:
      - '6135'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2019 16:06:52 GMT
[...]
- request:
    method: get
    uri: https://cdn1.spiegel.de/images/image-1485686-860_poster_16x9-quto-1485686.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Link:
      - <https://www.spiegel.de/images/image-1485686-860_poster_16x9-quto-1485686.jpg>;
        rel="canonical"
      X-Sp-Ap:
      - '6130'
      X-Sp-Pr:
      - '6130'
      X-Sp-Te:
      - '615[...]
