---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&screen_name=personaler_de
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="xxxx", oauth_nonce="xxxx", oauth_signature="xxxx",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1568804625", oauth_token="xxxx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 18 Sep 2019 11:03:46 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 832e8880928f43bc20ccd33b8da690e7
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '896'
      X-Rate-Limit-Reset:
      - '1568804628'
      X-Response-Time:
      - '259'
      X-Transaction:
      - 0035da57004cdf16
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Sep 18 09:08:27 +0000 2019","id":1174248810018758657,"id_str":"1174248810018758657","text":"Spannende
        Diskussion am Stand der Personalwirtschaft mit Prof. Dr. Gunther Olesch, Phoenix
        Contact, Stefan Scheller\u2026 https:\/\/t.co\/nuKsyeo0fs","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/nuKsyeo0fs","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1174248810018758657","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":124415786,"id_str":"124415786","name":"Personalwirtschaft","screen_name":"personaler_de","location":"K\u00f6ln","description":"Die
        Personalwirtschaft: Das Fachmagazin f\u00fcr HR-Entscheider und Personalmanager:
        informativ, innovativ, intelligent.\nImpressum: https:\/\/t.co\/VFUnI8Ulw9","url":"http:\/\/t.co\/zpy1rHCipD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/zpy1rHCipD","expanded_url":"http:\/\/www.personalwirtschaft.de","display_url":"personalwirtschaft.de","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/VFUnI8Ulw9","expanded_url":"http:\/\/goo.gl\/abh52S","display_url":"goo.gl\/abh52S","indices":[127,150]}]}},"protected":false,"followers_count":11200,"friends_count":3560,"listed_count":422,"created_at":"Fri
        Mar 19 09:51:38 +0000 2010","favourites_count":193,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":7316,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFF04D","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme19\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme19\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/842720907776983040\/GrW6cq69_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/842720907776983040\/GrW6cq69_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/124415786\/1489759779","profile_link_color":"103262","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F6FFD1","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":6,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"de"},{"created_at":"Wed
        Sep 18 08:44:24 +0000 2019","id":1174242757008908288,"id_str":"1174242757008908288","text":"Es
        hakt im HR-Getriebe? Dann Sie schreiben Sie ihr Problem an die Werkstattwand
        - wir suchen den passenden Experten\u2026 https:\/\/t.co\/e5bqx4tqXZ","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/e5bqx4tqXZ","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1174242757008908288","[...]
- request:
    method: get
    uri: http://dlvr.it/R6llbY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://www.personalwirtschaft.de/?tx_news_pi1%5Bnews%5D=4153&cHash=f1793eaf11a0eef839f85dbb563d8a0b&utm_source=dlvr.it&utm_medium=twitter
      X-Backend-Server:
      - web02
    body:
      encoding: UTF-8
      string: |-
        <html>
        <head>
        <title>dlvr.it</title>
        <meta http-equiv="refresh" content="0; url=https://www.personalwirtschaft.de/?tx_news_pi1%5Bnews%5D=4153&cHash=f1793eaf11a0eef839f85dbb563d8a0b&utm_source=dlvr.it&utm_medium=twitter"/>
        <meta name="robots" content="follow, noindex"/>
        </head>
        <body>
        <a href="https://www.personalwirtschaft.de/?tx_news_pi1%5Bnews%5D=4153&cHash=f1793eaf11a0eef839f85dbb563d8a0b&utm_source=dlvr.it&utm_medium=twitter">Your destination site</a>
        </body>
        </html>
  recorded_at: Wed, 18 Sep 2019 11:03:55 GMT
- request:
    method: get
    uri: https://www.personalwirtschaft.de/?cHash=f1793eaf11a0eef839f85dbb563d8a0b&tx_news_pi1%5Bnews%5D=4153&utm_medium=twitter&utm_source=dlvr.it
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CjxodG1sIGNsYXNzPSJuby1qcyIgbGFuZz0iZGUiPgo8aG[...]
- request:
    method: get
    uri: http://dlvr.it/R6SbHR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://www.personalwirtschaft.de/der-job-hr/arbeitswelt/artikel/glassdoor-erffnet-bro-in-deutschland.html?utm_source=dlvr.it&utm_medium=twitter
      X-Backend-Server:
      - web03
    body:
      encoding: UTF-8
      string: |-
        <html>
        <head>
        <title>dlvr.it</title>
        <meta http-equiv="refresh" content="0; url=https://www.personalwirtschaft.de/der-job-hr/arbeitswelt/artikel/glassdoor-erffnet-bro-in-deutschland.html?utm_source=dlvr.it&utm_medium=twitter"/>
        <meta name="robots" content="follow, noindex"/>
        </head>
        <body>
        <a href="https://www.personalwirtschaft.de/der-job-hr/arbeitswelt/artikel/glassdoor-erffnet-bro-in-deutschland.html?utm_source=dlvr.it&utm_medium=twitter">Your destination site</a>
        </body>
        </html>
  recorded_at: Wed, 18 Sep 2019 11:29:32 GMT
- request:
    method: get
    uri: https://www.personalwirtschaft.de/der-job-hr/arbeitswelt/artikel/glassdoor-erffnet-bro-in-deutschland.html?utm_medium=twitter&utm_source=dlvr.it
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CjxodG1sIGNsYXNzPSJuby1qcyIgbGFuZz0iZGUi[...]
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 18 Sep 2019 12:03:11 GMT
      Ml:
      - A
      Status:
      - 403 Forbidden
      X-Connection-Hash:
      - 2cdbf55b7ea4986e13b5ac2ece1c2048
      X-Response-Time:
      - '118'
      X-Transaction:
      - '00539af400482098'
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Wed, 18 Sep 2019 12:03:11 GMT
recorded_with: VCR 4.0.0
