---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=200&screen_name=personaler_de&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="xxx", oauth_nonce="xxx", oauth_signature="xxx",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1568817349", oauth_token="xxx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 18 Sep 2019 14:35:50 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 22a606ffbd53a33f5a4b467193b26730
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '898'
      X-Rate-Limit-Reset:
      - '1568818128'
      X-Response-Time:
      - '443'
      X-Transaction:
      - 007a4b20003593c2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Sep 18 11:28:36 +0000 2019","id":1174284080650883072,"id_str":"1174284080650883072","full_text":"@digital_kiosk
        Wir fassen die Zettel f\u00fcr Euch im Nachgang zusammen. Digitalisierung
        kommt nat\u00fcrlich h\u00e4ufiger vor.","truncated":false,"display_text_range":[15,113],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"digital_kiosk","name":"Interactive
        Digital Signage Business","id":2964709113,"id_str":"2964709113","indices":[0,14]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":1174246049503989760,"in_reply_to_status_id_str":"1174246049503989760","in_reply_to_user_id":2964709113,"in_reply_to_user_id_str":"2964709113","in_reply_to_screen_name":"digital_kiosk","user":{"id":124415786,"id_str":"124415786","name":"Personalwirtschaft","screen_name":"personaler_de","location":"K\u00f6ln","description":"Die
        Personalwirtschaft: Das Fachmagazin f\u00fcr HR-Entscheider und Personalmanager:
        informativ, innovativ, intelligent.\nImpressum: https:\/\/t.co\/VFUnI8Ulw9","url":"http:\/\/t.co\/zpy1rHCipD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/zpy1rHCipD","expanded_url":"http:\/\/www.personalwirtschaft.de","display_url":"personalwirtschaft.de","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/VFUnI8Ulw9","expanded_url":"http:\/\/goo.gl\/abh52S","display_url":"goo.gl\/abh52S","indices":[127,150]}]}},"protected":false,"followers_count":11201,"friends_count":3560,"listed_count":422,"created_at":"Fri
        Mar 19 09:51:38 +0000 2010","favourites_count":194,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":7317,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFF04D","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme19\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme19\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/842720907776983040\/GrW6cq69_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/842720907776983040\/GrW6cq69_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/124415786\/1489759779","profile_link_color":"103262","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"F6FFD1","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"de"},{"created_at":"Wed
        Sep 18 09:08:27 +0000 2019","id":1174248810018758657,"id_str":"1174248810018758657","full_text":"Spannende
        Diskussion am Stand der Personalwirtschaft mit Prof. Dr. Gunther Olesch, Phoenix
        Contact, Stefan Scheller, Persoblogger, und Dennis Utter, Leading Employers.
        @Persoblogger #leadingemployers @PhoenixContactD https:\/\/t.co\/Ry8woe5r3X","truncated":false,"display_text_range":[0,216],"entities":{"hashtags":[{"text":"leadingemployers","indices":[182,199]}],"symbols":[],"user_mentions":[{"screen_name":"Persoblogger","name":"Persoblogger","id":1630683181,"id_str":"1630683181","indices":[168,181]},{"screen_name":"PhoenixContactD","name":"Phoenix
        Contact HR","id":899505720,"id_str":"899505720","indices":[200,216]}],"urls":[],"media":[{"id":1174248792692072448,"id_str":"1174248792692072448","indices":[217,240],"media_url":"http:\/\/pbs.twimg.com\/media\/EEvFDjZXoAAToEk.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EEvFDjZXoAAToEk.jpg","url":"https:\/\/t.co\/Ry8woe5r3X","display_url":"pic.twitter.com\/Ry8woe5r3X","expanded_url":"https:\/\/twitter.com\/personaler_de\/status\/1174248810018758657\/photo\/1","type":"photo","sizes":{"medium":{"w":1200,"h":900,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":510,"resize":"fit"},"large":{"w":2048,"h":1536,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1174248792692072448,"id_str":"1174248792692072448","indices":[217,240],"media_url":"http:\/\/pbs.twimg.com\/media\/EEvFDjZXoAAToEk.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EEvFDjZXoAAToEk.jpg","url":"https:\/\/t.co\/Ry8woe5r3X","display_url":"pic.twitter.com\/Ry8woe5r3X","expanded_url":"https:\/\/twitter.com\/personaler_de\/status\/1174248810018758657\/photo\/1","type":"photo","sizes":{"medium":{"w":1200,"h":900,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"cr[...]
- request:
    method: get
    uri: https://www.personalwirtschaft.de/hr-organisation/die-hr-werkstatt-hier-wird-ihnen-geholfen-alle-beitraege.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"3d7acce13ca723ef8854cf78a4871c2e"'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CjxodG1sIGNsYXNzPSJuby1qcyIgbGFuZz0iZGUiPgo8aGVhZD4KCjxtZXRhIGNoYXJzZXQ9InV0Zi04Ij4KPCEtLSAKCSMjIyBEZXNpZ24sIFRlbXBsYXRlcyAmIFRZUE8zLUludGVncmF0aW9uOiB3d3cuaW50ZXJsdXRpb25zLmRlICMjIwoKCVRoaXMgd2Vic2l0ZSBpcyBwb3dlcmVkIGJ5IFRZUE8zIC0gaW5zcGlyaW5nIHBlb3BsZSB0byBzaGFyZSEKCVRZUE8zIGlzIGEgZnJlZSBvcGVuIHNvdXJjZSBDb250ZW50IE1hbmFnZW1lbnQgRnJhbWV3b3JrIGluaXRpYWxseSBjcmVh[...]
- request:
    method: get
    uri: https://www.personalwirtschaft.de/hr-organisation/auslandsentsendung/artikel/entsendebescheinigung-a1-schonfrist-vorbei.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CjxodG1sIGNsYXNzPSJuby1qcyIgbGFuZz0iZGUiPgo8aGVhZD4KCjxtZXRh[...]
- request:
    method: get
    uri: https://www.personalwirtschaft.de/hr-organisation/auslandsentsendung/mitarbeiter-rechtssicher-entsenden.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"f89820b338e10f4df535d4b184692e6e"'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CjxodG1sIGNsYXNzPSJ[...]
- request:
    method: get
    uri: https://www.personalwirtschaft.de/der-job-hr/szene/artikel/janina-kugel-verlaesst-siemens.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+CjxodG1sIGNsYXNzPSJuby1qcyIgbGFuZz0iZGUiPgo8aGVhZD4KCjxtZXRhIGNoYXJzZXQ9InV0Zi04Ij4KPCEtLS[...]
