development:
  http_username: admin
  http_password: test
  domain_name: 'dev1.stefanwienert.de'
  secret_key_base: ccc8bd250d1a9397ed52547eb662ba4a73f098c45022eaabf24ddb63e854c037d26e7832ee3ba29073838f9f11bfe60a129932c75b4e7f8d78a93e05c1d07d85
  twitter_consumer_key: ""
  twitter_consumer_secret: ""
  twitter_access_token: ""
  twitter_access_token_secret: ""
  airbrake_url: ''
  airbrake_project_key: ''
  firebase_server_key: "ABC"
  firebase_project_id: 'abc'


test:
  http_username: admin
  http_password: test
  domain_name: 'dev1.stefanwienert.de'
  twitter_consumer_key: ''
  twitter_consumer_secret: ''
  twitter_access_token: ''
  twitter_access_token_secret: ''
  secret_key_base: ccc8bd250d1a9397ed52547eb662ba4a73f098c45022eaabf24ddb63e854c037d26e7832ee3ba29073838f9f11bfe60a129932c75b4e7f8d78a93e05c1d07d85
  firebase_server_key: "ABC"
  firebase_project_id: 'abc'
