<p>
  Hallo,
</p>

<p>
  bitte bestätigen Sie Ihre Anmeldung für den HRfilter.de Newsletter.
  Sollten Sie dieses Abo nicht ausgelöst haben, so brauchen Sie nichts weiter zu tun,
  Ihre E-Mail wird automatisch gelöscht.
</p>

<p>
  <strong>Bitte klicken Sie auf diesen Link, um Ihr Abo zu aktivieren:</strong>
</p>

<p>
  <%= link_to (a=confirm_mail_subscription_url(@subscription)), a %>
</p>

<p>
  Viele Grüße
</p>

<p>
  HRfilter.de
</p>

