p = @subscription.salutation + ","

- profile_url = edit_mail_subscription_url(@subscription)

p sicherlich haben Sie bereits bemerkt, dass der monatliche Community-Newsletter seit einiger Zeit ausblieb. Allerdings hatte dieser Ausfall gute Gründe. Der alte Newsletter entsprach nicht mehr unseren steigenden Ansprüchen. Wir wollten mehr interessante HR-Themen abdecken, die auch außerhalb der Community eine Rolle spielen. Darum sendeten wir unseren Newsletter in unsere Forschungs- und Entwicklungsabteilung für ein umfassendes Innovationsupdate.

p Das Ergebnis dieses Updates kann sich sehen lassen. Der neue Newsletter enthält nicht nur mehr und vor allem relevantere Informationen. Er ist auch übersichtlicher strukturiert und bietet zudem eine Fülle an Einstellungsmöglichkeiten, um ihn Ihren persönlichen Bedürfnissen anzupassen.

p Wie das möglich ist, fragen Sie sich? Der neue Newsletter wird von nun an durch unseren #{link_to 'HRfilter', 'https://www.hrfilter.de'} versendet. Der HRfilter sorgt dafür, dass Sie nur noch die Informationen erhalten, die Sie wirklich interessieren. Neben den News aus der Community umfasst das Quellenangebot des HRfilters alle möglichen Themenbereiche heutigen Personalmanagements. Dieses mannigfaltige Quellenangebot können Sie nach Belieben filtern und somit nur die wichtigsten Informationen in Ihr Postfach holen.

p Schauen Sie am besten selbst vorbei. Unter den untenstehenden Link können Sie Ihr E-Mail Abonnement aktualisieren, die Sendungshäufigkeit anpassen und im gleichen Atemzug Ihre Newsletterinhalte individuell filtern. Außerdem können Sie sich über eine Vorschaufunktion anzeigen lassen, wie Ihr nächster Newsletter aussehen wird noch bevor er Ihr Postfach erreicht.


table.button: tr: td
  = link_to profile_url do
    | Einstellungen bearbeiten

br

p Viele Grüße

p = Setting.person
