@import font-awesome
// @import _fonts
// @import fd-slider.css

@import bootstrap-sprockets
$brand-color: #aa4400
$navbar-height: 100px

$navbar-default-bg: #1d0066
@import bootstrap

.navbar-brand

  padding: 10px
  img
    max-height: 80px
