//= require font-awesome
//= require _fonts
//= require chosen
//= require fd-slider.css
//= require_tree ./web

$gridColumnWidth: 42px
$gridColumnWidth1200: 42px
$linkColor: #aa4400
@import twitter/bootstrap-no-sprites
@import twitter/bootstrap/responsive-767px-max.scss

.item
  margin-bottom: 40px
  h3
    margin-bottom: 0
  .sub
    margin-bottom: 5px
    color: #444
  .source
    color: #999
