h2 Fast geschafft!


div(style='max-width: 900px')
  p Bitte schauen Sie in Ihren <strong>Posteingang oder ggf. Spam-Ordner</strong> von #{@subscription.email}. Wir haben Ihnen soeben eine Bestätigungsemail gesendet. Bitte klicken Sie auf den Link in dieser E-Mail, um Ihre Abonnement zu bestätigen.
